---
import "../styles/styles.css"
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Hjem">
	<Button variant="primary" size="small">KLIK HER AH YEAH</Button>
	<Button variant="secondary" size="medium">AH YEAH ANOTHER BUTTON</Button>
	<Button variant="secondary" size="large">BUTTON BUTTON BUTTON</Button>
</MainLayout>
